h1 {
  color: black;
  text-align: center;
}
header{
/* background-color: rgb(248, 251, 249); */
}
#div1 {
  background-color: papayawhip;
}

#div2 {
  background-color:papayawhip;
}

legend{
  font-weight: bold;
  text-align: center;
  color: brown;
}
h2{
  font-style:italic;
}


